* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*Advanced CSS*/
:root {
  --primary: #2e2e2e;
  --dark: #5a5a5a;
  --background: #3e3e3e;
  --mainBorderThickness: 10px solid;
  --text: #fff;
  --accent: #3498db;
  --hover: #ffc0cb;
}

body {
  margin: 0;
  background-color: var(--primary);
  color: var(--text);
}

a {
  text-decoration: none;
}

nav ul li {
  list-style-type: none;

  a {
    margin: 20px;
    text-decoration: none;
    padding: 0px;
  }
}

header {
  padding-right: 20px;
}
/*Advanced CSS*/
#topBar {
  background-color: var(--background);
  border-block: var(--mainBorderThickness) var(--dark);
  color: var(--accent);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  li {
    font-size: clamp(10px, 4vw, 18px);
    /*Advanced CSS*/

    font-weight: bold;
  }

  h1 {
    margin-block-end: 0;
    font-size: clamp(18px, 4vw, 36px);
    width: 100%;
    margin: 0;
    width: max-content;
  }

  h2 {
    font-size: clamp(8px, 7vw, 16px);
    text-transform: none;
    margin: 0;
    width: max-content;
  }

  footer a {
    font-weight: 400;
  }

  nav {
    margin-left: auto;
  }

  a {
    color: var(--accent);
  }
}

#bottomBar {
  background-color: var(--background);
  border-block: var(--mainBorderThickness) var(--dark);
  color: var(--accent);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  li {
    font-size: clamp(10px, 4vw, 18px);
    /*Advanced CSS*/

    font-weight: bold;
  }

  h1 {
    margin-block-end: 0;
    font-size: clamp(18px, 4vw, 36px);
    width: 100%;
    margin: 0;
    width: max-content;
  }

  h2 {
    font-size: clamp(8px, 7vw, 16px);
    text-transform: none;
    margin: 0;
    width: max-content;
  }

  footer a {
    font-weight: 400;
  }

  nav {
    margin-left: auto;
  }

  a {
    color: var(--accent);
  }
}
#footer {
  width: 100%;
  left: 0;
  bottom: 0;
}
footer {
  nav {
    width: 100%;
    text-align: center;
    padding: 2px 0px;
  }

  div {
    padding-top: 20px;
  }
}
.logo {
  max-width: 8%;
  max-height: 100%;
  display: none;
  padding-right: 25px;
}
.notMobile,
.logo,
h2 {
  display: none;
}

.card > div {
  border-inline-start: var(--mainBorderThickness) var(--secondaryLight);
  padding-inline-start: 20px;
  height: 100%;
}

.card {
  flex-wrap: wrap;
  justify-content: space-between;
  container-type: inline-size;
  container-name: card;

  img {
    inline-size: 100%;
    max-height: 300px;
  }

  h3 {
    padding-top: 10px;
  }
}

.accentBorder {
  border: var(--mainBorderThickness) var(--dark);
  box-shadow: 10px 10px 0px 0px var(--text);
  padding: 20px;
  border-top-right-radius: 2em;

  p {
    font-size: 1.5em;
  }

  h3 {
    color: var(--accent);
    font-size: 1.7em;
  }
  a {
    text-decoration: underline;
    color: var(--text);
  }
  a:hover {
    color: var(--hover);
  }
}
section {
  margin-inline: 10px;
  margin-block: 1.5em;
}

.spin {
  transition: all 5s;
}

/*Advanced CSS, click on the logo for easter egg*/
.spin:active {
  transform: translateX(10000px);
  /*Advanced CSS*/
}

section p {
  font-size: 20px;
}

table {
  width: 50%;
  border-collapse: collapse;
  position: relative;
  margin: auto;
  margin-bottom: 50px;
}
#title {
  text-align: center;
  font-size: 2em;
  padding: 2vi;
}
#timings-table {
  width: 90%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 3px solid var(--dark);
  text-align: center;
}

th {
  background-color: var(--background);
}

caption {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
}

/*Advanced CSS*/
.newspaper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  div {
    background-color: var(--primary);
  }
}

.primaryNews {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

#item2 {
  grid-column: 3;
  grid-row: 1;
}

#item3 {
  grid-column: 4;
  grid-row: 1;
}

#item4 {
  grid-column: 3;
  grid-row: 2;
}

#item5 {
  grid-column: 4;
  grid-row: 2;
}

.news {
  border: 5px solid var(--text);
  overflow: hidden;
  border-top-right-radius: 2em;
  margin: 10px;
  align-self: center;
  transition: all 0s;
  box-shadow: 0px 0px 0 0 var(--accent);
}

.news img,
.news div:nth-of-type(2) {
  transition: all 1s;
}

img {
  transform: scale(1.05);
}

.news div:nth-of-type(even) {
  padding: 10px;
}

.news h3 {
  font-size: 30px;
  color: var(--accent);
  font-weight: bold;
  font-style: italic;
}

.news p {
  font-size: 20px;
}

.news img {
  width: 100%;
  height: 100%;
}

.sub th:nth-of-type(1) {
  border: none;
  background-color: transparent;
}

.sub td:nth-of-type(1) {
  text-align: left;
}

.sub caption {
  font-size: 2em;
  color: var(--accent);
}

.hours caption {
  font-size: 2em;
  color: var(--accent);
}

tr:nth-of-type(even) {
  background-color: var(--background);
}
#topBar h1,
h2 {
  padding: 15px;
}
#timings-table th:nth-of-type(2),
th:nth-of-type(4),
th:nth-of-type(5),
td:nth-of-type(2),
td:nth-of-type(4),
td:nth-of-type(5) {
  display: none;
}
/*Advanced CSS*/
@container card (min-width: 700px) {
  .card img {
    inline-size: calc(40cqi - 40px);
    /*Advanced CSS*/
  }

  .card > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .card:nth-of-type(even) img {
    order: 2;
  }

  .card h2 {
    margin-block-start: 0;
  }
}

@media all and (min-width: 768px) {
  #timings-table th:nth-of-type(2),
  th:nth-of-type(4),
  th:nth-of-type(5),
  td:nth-of-type(2),
  td:nth-of-type(4),
  td:nth-of-type(5) {
    display: table-cell;
  }
  .notMobile {
    display: inline;
  }

  .logo,
  ul,
  h2 {
    display: block;
  }

  .logo {
    display: block;
  }

  nav ul li {
    display: inline;
  }

  section:nth-of-type(even) {
    box-shadow: -10px 10px 0px 0px var(--text);
    border-top-left-radius: 2em;
    border-top-right-radius: 0;
  }

  section {
    margin-inline: calc(130px - 2vi);
    margin-block: 1.5em;
  }

  footer a {
    font-weight: normal;
  }

  #topBar li a:hover {
    color: var(--hover);
    transform: translateY(2px);
  }

  #bottomBar a:hover {
    color: var(--hover);
    transform: translateY(2px);
  }

  .news:hover img {
    transform: scale(1.2);
  }

  .news:hover div:nth-of-type(2) {
    transform: translateY(-10px);
  }

  .news:hover {
    box-shadow: 4px 4px 0px 0px var(--accent);
  }
  #topBar div:hover {
    color: var(--accent);
  }
  #topBar h1,
  h2 {
    padding: 0;
  }
}

@media all and (min-width: 900px) {
  .newspaper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
  }
}

/*Float Images*/
@media all and (min-width: 1000px) {
  .homeImages {
    float: left;
    padding: 20px;
    height: auto;
    max-width: 500px;
  }

  .card:nth-of-type(even) img {
    float: right;
  }
}
#form-grid {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    padding: 0em;
    box-sizing: border-box;
    margin: 0;
    
  }
  
  #form {
    text-align: center; 
    width: 100%; 
    max-width: 600px;
    padding: 0em; 
    
  }
  .fieldset {
    margin: 0em 0; 
    padding: 1em; 
    border: 1px solid var(--dark);
    border-radius: 6px;
    width: 100%; 
    max-width: 500px; 
    background-color: var(--background); 
  }
  
  #form legend {
    font-size: 1.7em;
  }
  
  #form .fieldset {
    margin: 0em 0em;
    padding: 1em 2em;
    border: solid 1px var(--dark);
    border-radius: 6px;
    width: 100%;
  }
  
  #form .field {
    margin: 0;
    padding: 0.5em 1em;
    margin-top: 1em;
    border: solid 1px var(--dark);
    border-radius: 6px;
    min-width: 200px;
  }
  
  #form .field label {
    display: inline-block;
    padding-top: 0.5em;
    margin-top: 0;
    margin-right: 0.5em;
  }
  
  #form legend {
    font-size: 1.25em;
    padding: 0 0.25em;
    color: var(--accent);
  }
  
  #form label {
    display: block;
    margin-top: 1em;
  }
  
  #form input {
    padding: 0.5em;
    border: solid 1px var(--accent);
    background-color: var(--background);
    color: var(--text);
  }
  
  #form input[type="email"],
  #form input[type="text"] {
    width: 21em;
  }
  
  #form textarea {
    min-height: 8em;
    min-width: 40%;
    padding: 0.5em;
    border: solid 1px var(--accent);
  }
  
  #form .field legend {
    margin-bottom: 0;
  }
  
  #form input[type="checkbox"] + label,
  #form input[type="radio"] + label {
    display: inline-block;
    padding-top: 0;
    margin-top: 0;
  }
  
  #form input[type="radio"] {
    margin-left: 1.5em;
    margin-right: 0;
  }
  
  #form input[type="submit"],
  #form [type="reset"] {
    padding: 0.5em 1em;
    border-radius: 6px;
    background-color: var(--accent);
    color: var(--text);
    font-size: 0.8em;
    margin-top: 1em;
  }